*{
        margin: 0px;
        padding: 0px;
}


body {
    
        background-color: white;
        margin: 0px !important;
        padding: 0px !important;
        font-family: Catamaran;  
}

#Mid-button{
    text-align: center;
    margin-top: -20px;
}

#page{
margin:0px 0px;
padding: 0px px;

  background: -webkit-linear-gradient(bottom, #ff9966 , #ff5e62); 
  background: -o-linear-gradient(bottom, #ff9966, #ff5e62); 
  background: -moz-linear-gradient(bottom, #ff9966, #ff5e62);
  background: linear-gradient(to top, #ff9966 , #ff5e62);         
}
#list1{

  padding-left: 20px;
  padding-right: 20px;
}

li{

  list-style-type: none;
  display: inline;
  text-align: center;
  color: white;
 
}

p, h3,footer{
    
    padding: 30px 30px;
}
.link{
 text-align: center;
  padding-top: 10px;
}

#second-space{
  line-height: 1.2em;
  margin-top: 30px;
  text-align: center;
}
.icon{
   float:left;
    margin-top: 0px;
    line-height: 0.001em;
    position: relative;
    right: -10px;
}


.first-paragraph{
  padding-bottom: 30px;
  text-align: center;
  color:#ffffff;   
}
 .second-paragraph{
  text-align: center;
}

.button, .Rfoot{
  float:right;
}

h3{ 
    color:grey;
    size:8px;
    opacity:0.4;
    letter-spacing:0.2em;
}

#lastEdit{
    margin-right:20px;
    width: 450px;
    height: 400px;
    background-image: linear-gradient(to top, #ff9966 , #ff5e62);
    -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
   clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);

}
.button2{
		font-size: 14px;
		color: #5a5854;
		background-color: #f2f2f2;
		border: 1px solid coral;
		border-radius: 30px;
        padding: 14px 50px;
        background-color: white;
        margin-bottom: 50px;
        
		}

.button{
        font-size: 12px;
		color: white;
		background-color:#ff5e62;
		border: 1px solid #bdbdbd;
		border-radius: 20px;
		padding: 10px 20px;
        text-align: center;
		margin-bottom: 10px;  
        margin-right: 20px;
        margin-top: 0px;
}

img{
  margin-right: 20px;
}

.Image{

  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.third-button{
  margin-top: 50px;
}

.third-paragraph{
background-image: url(http://res.cloudinary.com/dhtqkszzc/image/upload/v1510232081/background_vvg9nt.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 400px;
}

h6{
    color: #ff9966;
    text-align: center;
    position:relative;
    bottom: -86px;
    margin-left: 11px;
}

h2{
    font-size: 40px;
    margin-left: 200px;
    color: #ffffff;
    position:relative;
    bottom: -56px;
}



@media only screen and (max-width: 500px) {
  body {
    background-color: #403c3b;
  }

#page {
    max-width: 480px;
  }

}

@media only screen and (min-width: 501px) and (max-width: 767px) {
  #page {
    max-width: 100%;
      }
}
@media only screen and (min-width: 960px) {
  #page {
    max-width: 100%;
   
  }
}





/*

background-color: #ff9966;

background-image: -o-linear-gradient(45deg, #ff9966 , #ff5e62),url(background.jpg); 
background-image: -webkit-gradient(45deg, #ff9966 , #ff5e62),url(background.jpg);
background-image: -webkit-linear-gradient (45deg, #ff9966 , #ff5e62),url(background.jpg);
background-image: -ms-linear-gradient(45deg, #ff9966 , #ff5e62),url(background.jpg);
 ,url(http://res.cloudinary.com/dhtqkszzc/image/upload/v1510232081/background_vvg9nt.jpg)
background-image: linear-gradient(270deg, #ff9966 , #ff5e62),url(background.jpg);
background-image: -moz-linear-gradient(45deg, #ff9966 , #ff5e62),url(background.jpg);

background-position: 8px 9px;
background-position: 8px 9px;
*/
